*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
/* Header */
.header-top{
    display: flex;
    justify-content: center;
}
.header-top img{
    width: 300px;
    margin: 30px;
}
header{
    text-align: center;
}
.header-bottom input, .header-bottom button{
    border-radius: 15px;
    padding: 13px 25px;
}
.header-bottom input{
    width: 350px;
    margin-right: 15px;
}
.header-bottom button a{
    text-decoration: none;
    color: black;
}
/* /Header */

/* Main */
main{
    width: 70%;
    margin: auto;
}
ul{
    background-color: rgb(243, 243, 243);
    padding: 20px;
    border-radius: 7px;
    margin-top: 40px;
}
ul li{
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    background-color: rgb(243, 243, 243);
    font-weight: bold;
    display: flex;
    justify-content: space-between
}
ul li:hover{
    background-color: white;
}
ul li i{
    cursor: pointer;
}
/* /Main */
